/* ================================== Variables ======================================== */
:root {
    --bg-color: #f5f5f5;
    --text-color: #6c757d;
    --accent-color: #ffd333;
    --contrast-color: #3d464d;
}

/* ================================== Media ======================================== */
@media (max-width: 767px) {  /* 767p */
    .pl-song-artist {
        display: none;
      }
}

@media (max-width: 575px) {
    .pl-song-duration_text {
        display: none;
    }
    .pl-song-title {
        font-size: small;
      }
    .rs-song-artist {
        display: none;
    }
}
/* ================================== General ======================================== */
html {

}

#username,
#h_exampleModal,
#rnplModalLabel,
#rnSongModalLabel,
#exampleModalLabel {
    cursor: default;
}

#song-title-wrapper {
    display: flex;
    overflow-x: hidden;
    justify-content: center;
}

#main-song-title {
    white-space: nowrap;
    display: inline-block;
    animation: scroll-text 10s linear infinite;
    cursor: default;
}

@keyframes scroll-text {
     0% {
         transform: translateX(200px);
     }
     33% {
        transform: translateX(3px);
     }
     66% {
        transform: translateX(3px);
     }
     100% {
        transform: translateX(-200px);
     }
}

#header-mid {
    overflow: hidden;
}

#song-list {
    overflow-y: auto;
}

#search-list {
    overflow-y: auto;
}

#right-side {
    overflow-x: auto;
}

.login-screen {
    position: absolute;
    text-align: center;
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: 3000;
    padding-top: 15%;
}

/* Для разлогиненного */
.login-screen {
    display: block !important;
}

.playlist,
.search-list {
    border: solid black;
}

.pl-table {
    cursor: default;
}
#result_table {
    width: 98%;
    margin-left: 10px;
    cursor: default;
    border-collapse: separate;
    border-spacing: 0px 7px;
}


audio {
    width: 100%;
    margin: 5px;
}

ul {
    list-style-type: none;
    padding-left: 1rem;
}

.playing-track {
    color: white;
    text-align: center;
}

.pl-song-title {
  color: black;
}

.pl-song-artist,
.rs-song-artist{
  color: gray;
  font-size: x-small;
}

.pl-song-duration_text {
    color: black;
}

.rm-btn {
    font-size: larger;
    --bs-btn-padding-y: .01rem !important;
    --bs-btn-padding-x: .5rem !important;
}

.btn-sw {
    position: relative;
    left: 50%;
    top: 5%;
    z-index: 1000;
}

.btn-h {
    position: relative;
    left: -50%;
    top: -150%;
    z-index: 1000;
}

.playlist-header h3 {
    position: relative;
    top: -25px;
}

.playlist-header {
    height: 40px;
}

#password-input,
#login-input {
    width: 200px;
}

#vk-wrapper {
    display: flex;
    justify-content: center;
}

#VkIdSdkOneTap {
    width: 250px;
}

#username {
    color: var(--accent-color);
}

#cr-pl-name,
#rn-pl-name,
#rn-song-name {
    width: 100%;
}

.modal-backdrop {
    display: none;
}

.orange {
    background-color: orange;
}